* {
  background-color: bisque;
  margin: 0;
  padding: 0;
  margin-left: 5px;
}
.name {
  display: inline-block;
  border: 1px solid grey;
  margin-top: 15px;
}
.card {
  width: 400px;
  margin: 0 40px;
  border: 1px solid black;
}
article {
  text-align: center;
  width: 400px;
  height: 200px;
  margin: 0 auto;
  border: 1px solid black;
  overflow: hidden;
  margin-bottom: 15px;
  box-shadow: 10px 10px 14px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 14px 0px rgba(0, 0, 0, 0.75);
}

.is-open {
  height: auto;
}
